@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
* {
    background-color: #06080D;
    color: #1B8EF2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 75;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

 .work{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    background-color: #06080D;
    color: #1B8EF2;
    margin:6px;
    padding: 20px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;}

.work:hover{
    border-color:#5CB9F2 ;
    box-shadow:#d0d0d0 0 0 10px;
}
 img{   
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
 }

  img:hover{
    transform: scale(1.1);
    border: 1px solid #1B8EF2;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
    box-shadow:#FF42E3 0 0 5px;
  }
body{   
    background-color: #06080D;
    color: #1B8EF2;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 75;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    color: #1B8EF2;
    font-family: 'Roboto', sans-serif;
    font-weight: 50;
    line-height: 1.5;
    
    padding: 0,0;
}

header{ 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #06080D;
    color: #1B8EF2;
    padding: 5px;
    border-radius: 5px;
}

nav{
    display: flex;
    justify-content: flex-end; 
    flex-wrap:wrap;
    background-color: #06080D;
    color: #1B8EF2;
    padding: 20px;
    min-width: none;
    margin:auto;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
}
nav:hover{
    border-color:#5CB9F2 ;
    box-shadow:#FF42E3 0 0 10px;
}
nav a{
    color: #1B8EF2;
    
    text-decoration: none;
    padding: 10px;
    margin: 5px;
    border-radius:5px;
}
nav a:hover{
    color: #5CB9F2;
    border-color:#5CB9F2 ;
    box-shadow:#FF42E3 0 0 10px;
}

ul{
    display:flex;
    flex-wrap:wrap;
    list-style: none;
    align-items:baseline;
    padding:0px;
    margin:0px;
}

p{
    display: flex;
    justify-content: center; 
    flex-wrap:wrap;
    background-color: #06080D;
    color: #1B8EF2;
    margin:6px;
    padding: 15px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
 }
    
p:hover{
    border-color:#5CB9F2 ;
    box-shadow:#FF42E3 0 0 7px;
}

.spacer{
    display: flex;
    justify-content: space-evenly; 
    flex-wrap:wrap;
    background-color: #06080D;
    color: #1B8EF2;
    height:300px;
    width:auto;
    margin:6px;
    padding: 15px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
 }
.work{
    display: flex;
    
    background-color: #06080D;
    color: #1B8EF2;
    margin:6px;
    padding: 20px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
}
.work:hover{
    
    border-color:#5CB9F2 ;
    box-shadow:#FF42E3 0 0 5px;
}
.about{
    display: flex;
    justify-content: center; 
    background-color: #06080D;
    color: #1B8EF2;
    margin:6px;
    padding: 20px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
}
.about:hover{
    border-color:#5CB9F2 ;
    box-shadow: #FF42E3 0 0 5px;
}
.contact{
    display: flex;
    justify-content: center; 
    background-color: #06080D;
    color: #1B8EF2;
    margin:6px;
    padding: 15px;
    border: 1px solid transparent;
    border-width: 1px 1px 1px 1px;
    border-radius: 5px ;
}
@media screen and (max-width: 992px) {
    .card {
      width: 50%;
    }
    /* Change the header color */
    header {
      background:#1A2E40 ;
    }
  }

  @media screen and (max-width: 768px) {
    .card {
      width: 100%;
    }
    /* Change the header color */
    header {
      background: #8ac4ff;
    }
  }
  /* background photo credits to cheng feng on unsplash.com  */